<%- include("partials/header") %>

<div class="container">
    <header class="jumbotron" style="margin-top: 80px;">
        <div class="container">
            <h1>Welcome to YelpCamps!</h1>
            <p>View our hand-picked campgrounds from all over the world.</p>
            <p>
                <a class="btn btn-primary" href="/campgrounds/new">Add New Campground</a>
            </p>
        </div>
    </header>
    
    
<div class="row">
        <% campgrounds.forEach(function(campground){ %>
            <div class="col-md-4 col-sm-6 text-center" style="padding-bottom: 30px;">
                <div class="card">
                    <img class="card-img-top img-thumbnail" src="<%= campground.image %>" alt="">
                    <div class="card-body" style="padding: .5rem;">
                        <h4 class="card-title"> <%= campground.name %> </h4> 
                    </div>   
                </div>
            </div>
        <% })%>
    </div>
    
</div>





<%- include("partials/footer") %>